
body{
    background: linear-gradient(#bdc3c7 , #2c3e50);
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tin-container{
    display: flex;
    justify-content: center;

    flex-direction: column;
    height: 100vh;
    max-width: 50% ;
    row-gap: 5px;
}

.tin-container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    max-width: 25% ;
    row-gap: 20px;
}
.elements{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}